@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

nav a {
  color: black;
}

nav a:hover,
nav a:active {
  color: #af0000;
  font-weight: 700;
  text-decoration: none;
}

.about {
  background-color: #f8f7f3;
}

hr {
  margin: 0;
  width: 250px;
  border-top: 5px solid #af0000;
}

.about-card {
  margin: 50px;
  background-color: white;
}
